li.deepforge-logo {
  background-image: url(../deepforge-logo.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 34px;
 
  background-size: 100px 34px;
}

.create-node text {
    font-style: italic;
}

.job-canceled {
    background-color: #ffe0b2;
}
