.worker-modal .modal-content .modal-header span {
  font-size: 28px;
  vertical-align: middle;
}

.worker-modal .modal-content .modal-header .header-icon {
  height: 28px;
  width: 28px;
  margin-right: 1ex;
  display: inline-block;
  vertical-align: middle;
  background-size: 28px 28px;
}

.worker-modal .modal-content .modal-body th {
  text-align: left;
}

.worker-modal .job-queue-title {
  color: #555555;
  font-weight: bold;
}

.worker-modal .job-tag {
  margin-right: 5px;
}

.worker-modal .job-queue-title {
  float: left;
  margin-right: 5px;
}
